*{
    padding: 0;
    margin: 0;
    border: border-box;
    background-color:#FFE4FC;
}

.heading{
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading-content{
    margin-top: 40px;
    font-size: 3rem;
    color: #cc644e;
}

#login-form{
    max-width: 300px;
    margin: auto;
    margin-top: 50px;
    padding: 50px;
    border: 1px solid black;
    border-radius: 20px;
    height: 300px;
}

input{
    width: 90%;
    padding: 15px;
    margin: 15px 0;
}
.input{
    display: flex;
    justify-content: center;
}
button{
    background-color:#0D485D;
    color: #FFFFFF;
    padding: 10px 100px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
